<script lang="ts">
    import TimeRange from "../components/TimeRange.svelte";
    import {
        Container, Row
    } from 'sveltestrap';
    import ConsensusesList from "../components/ConsensusesList.svelte";

    let startDate = ""
    let endDate = ""
</script>

<Container>
    <Row>
    <h1>Consensuses</h1>
    </Row>
    <Row>
    <TimeRange bind:startDate={startDate} bind:endDate={endDate}></TimeRange>
    </Row>
    <ConsensusesList startDate={startDate} endDate={endDate}/>
</Container>
