<script lang="ts">
    import TimeRange from "../components/TimeRange.svelte";
    import {
        Container, Row
    } from 'sveltestrap';
    import DecisionsList from "../components/DecisionsList.svelte";

    let startDate = ""
    let endDate = ""
</script>

<Container>
    <Row>
        <h1>Entscheidungen</h1>
    </Row>
    <Row>
        <TimeRange bind:startDate={startDate} bind:endDate={endDate}></TimeRange>
    </Row>
    <DecisionsList startDate={startDate} endDate={endDate}/>
</Container>
