<script>
    import {
        Container, Row, Col
    } from 'sveltestrap';

</script>

<Container>
    <Row>
        <Col>
            {window.location}
        </Col>
    </Row>
</Container>

<style>


</style>
