<script lang="ts">
    import {
        Container, Row, Col, Form, Input, FormGroup, Button, Label, Alert, Spinner
    } from 'sveltestrap';
    import {Client} from '../services/graphql/client';
    import {MONTHS_WITH_PROTOCOLS} from '../services/graphql/queries';
    import ProtocolList from "../components/ProtocolList.svelte";

    const monthNames = [
        "Januar",
        "Februar",
        "März",
        "April",
        "Mai",
        "Juni",
        "Juli",
        "August",
        "September",
        "Oktober",
        "November",
        "Dezember",
    ]

    class dateInformations {
        months_by_year: Map<number, Array<number>>;
        years: Array<number>;
    }

    const months_query = Client.query({
        query: MONTHS_WITH_PROTOCOLS
    });

    const date_informations_query = months_query.then((result) => {
        let lastYear = 0
        let lastMonth = 0

        const ret : dateInformations =
        {
            months_by_year: new Map<number, Array<number>>(),
            years: new Array<number>()
        }

        for (var i in result.data.monthsWithProtocols) {
            const m = result.data.monthsWithProtocols[i]

            // update last month and last year so we can jump to it
            lastYear = m.year
            lastMonth = m.month

            let l : Array<number>= ret.months_by_year.get(m.year)
            if (l == undefined) {
                l = new Array()
            }
            l.push(m)
            ret.months_by_year.set(m.year, l)
        }
        ret.years = Array.from(ret.months_by_year.keys())
        // Initialize year and month
        year = lastYear.toString(10)
        monthAsNumber = lastMonth.toString(10)
        return ret
    })

    function get_months_in_year(months_by_year: Map<number, Object>, year: String) {
        const intYear = parseInt(year)
        const ret = months_by_year.get(intYear)
        if (ret == undefined) {
            return []
        }
        return ret.map((m) => {
            return {
                name: monthNames[m.month-1],
                num: m.month,
            }
        })
    }

    let year = ""
    let monthAsNumber = ""
    let month = ""

    let startDate: Date
    let endDate: Date

    function constructStartDate(year: String, monthAsNumber: String) {
        if (year !== "" && monthAsNumber !== "") {
            return new Date(parseInt(year), parseInt(monthAsNumber)-1, 1, 0, 0, 0, 0)
        }
        return null
    }

    function constructEndDate(year: String, monthAsNumber: String) {
        if (year !== "" && monthAsNumber !== "") {
            let monthNum = parseInt(monthAsNumber) - 1
            let yearNum = parseInt(year)
            monthNum += 1
            if (monthNum >= 12 ) {
                monthNum = 0
                yearNum += 1
            }
            return new Date(yearNum, monthNum, 1, 0, 0, 0, 0)
        }
        return null
    }

    $: startDate = constructStartDate(year, monthAsNumber)
    $: endDate =  constructEndDate(year, monthAsNumber)

    function onYearChanged(di: dateInformations) {
        if (year !== "" && monthAsNumber !== "") {
            let monthNum = parseInt(monthAsNumber)
            let yearNum = parseInt(year)
            if (di.months_by_year.get(yearNum).find((x) => x == monthNum) !== undefined) {
                return
            }

            monthAsNumber = di.months_by_year.get(yearNum)[0].month.toString()
            month = monthNames[di.months_by_year.get(yearNum)[0]]
        }
    }
</script>

<Container>
    <Row class="mb-2 mt-4">
        <h1 class="text-center">Alle Protokolle</h1>
    </Row>
    {#await date_informations_query}
    <Row>
        <Col>
            <Spinner color="info" size="lg"></Spinner>
        </Col>
    </Row>
    {:then di}
    <Row>
        <Col>
            <Form>
                <FormGroup>
                    <Label for="protocolYear">Year</Label>
                    <Input type="select" name="select" id="protocolYear" bind:value={year} on:change="{() => onYearChanged(di)}">
                        {#each di.years as year}
                        <option value={year}>{year}</option>
                        {/each}
                    </Input>
                </FormGroup>
                    <FormGroup>
                        <Label for="protocolMonth">Month</Label>
                        <Input type="select" name="select" id="protocolMonth" bind:value={monthAsNumber}>
                            {#each get_months_in_year(di.months_by_year, year) as month}
                                <option value="{month.num}">{month.name}</option>
                            {/each}
                        </Input>
                    </FormGroup>
            </Form>
        </Col>
    </Row>
    <Row>
        <ProtocolList startDate="{startDate}" endDate="{endDate}"/>
    </Row>
    {:catch error}
    <Row>
        <Col>
            <Alert color="danger">
                <h4>Fehler beim abrufen der Daten</h4>
                <p>Konnte Daten vom Server nicht abrufen: {error}</p>
            </Alert>
        </Col>
    </Row>
    {/await}
</Container>
