<script lang="ts">
    import {ApolloQueryResult} from "apollo-client/core/types";
    import {Client} from "../services/graphql/client";
    import {PROTOCOL} from "../services/graphql/queries";
    import {
        Container, Row, Col, Form, Input, FormGroup, Button, Label, Alert, Spinner, ListGroup, ListGroupItem
    } from 'sveltestrap';

    function parseQuery(queryString) {
        var query = {};
        var pairs = queryString.substr(1).split('&');
        for (var i = 0; i < pairs.length; i++) {
            var pair = pairs[i].split('=');
            query[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1] || '');
        }
        return query;
    }
    let protocolId: string = parseQuery(location.search)['id'];

    let protocolQuery: Promise<ApolloQueryResult<any>>
    function constructProtocolQuery(protocolId) {
        if (protocolId !== null) {
            return Client.query({query: PROTOCOL(protocolId)}).then((r) => {
                return r.data.protocol
            });
        }
        return new Promise((resolve, reject) => {})
    }

    $: protocol_query = constructProtocolQuery(protocolId)
</script>

<Container>
<Row>
    <p>
    {#await protocol_query}
        <Col>
            <Spinner color="info" size="lg"></Spinner>
        </Col>
    {:then protocol}
        <Col>
            <h2>Protokoll vom {protocol.date}</h2>
            <Button href="{protocol.nextcloudLink}">Halde</Button>
            <h4>Konsense</h4>
            {#each protocol.consensuses as consensus}
                <p>{consensus.text}</p>
            {/each}
            <h4>Entscheidungen</h4>
            {#each protocol.decisions as decision}
                <p>{decision.text}</p>
            {/each}
            <h4>Kapitel</h4>
            {#each protocol.chapters as chapter}
                <p><b>{chapter.headline}</b></p>
                <pre style="white-space: pre-wrap;">{chapter.text}</pre>
            {/each}
        </Col>
    {:catch error}
        <Col>
            <Alert color="danger">
                <h4>Fehler beim abrufen des Protokoll {protocolId}</h4>
                <p>Konnte Protokolle nicht abrufen: {error}</p>
            </Alert>
        </Col>
    {/await}
</Row>
</Container>
