<script>
    import {
        Container, Row
    } from 'sveltestrap';
    import SearchBarWithDateRange from "../components/SearchBarWithDateRange.svelte";
    import ProtocolsSearchResult from "../components/ProtocolsSearchResult.svelte";
</script>

<Container>
    <Row>
        <SearchBarWithDateRange/>
    </Row>
    <Row>
        <ProtocolsSearchResult protocols={[{
        date: "not-set",
        chapters: [
            {
                id: "0",
                title: "Title text",
                text: "Some Text"
            }
        ]
    }]}/>
    </Row>
</Container>
