<script>
    import {onMount} from 'svelte';
    import {
        Container, Row, Col, Button
    } from 'sveltestrap';
    import {Client} from '../services/graphql/client'
    import {START_SCAN} from '../services/graphql/queries'
    import {scanStatus} from '../store/scan_status';
    import ScanStatusIcon from "../components/ScanStatusIcon.svelte";
    import { Progress } from 'sveltestrap';

    let scanPercent = 0
    $: scanPercent = ($scanStatus.numProtocolsScanned * 100) / $scanStatus.numProtocolsFound

    async function startScan() {
        try {
            await Client.mutate({
                mutation: START_SCAN
            })
        } catch (error) {
            window.alert(error)
        }
    }

    // const scanStatus = subscribe(scanStatusChangedQuery);
</script>


<Container>
    <Row class="justify-content-center">
        <Col xs="auto">
            <h1>{$scanStatus.status}</h1>
        </Col>
    </Row>
    <Row class="justify-content-center">
        <Col xs="auto">
            <div style="height: 400px; display: table-cell; vertical-align: middle">
                <div style="margin: auto">
                  <ScanStatusIcon huge="true">
                  </ScanStatusIcon>
                </div>
            </div>
        </Col>
    </Row>
    <Row class="justify-content-center">
        <Col xs="auto">
            <h5>{$scanStatus.message}</h5>
        </Col>
    </Row>
    <Row class="mb-4">
        <Col xs={{ size: 8, offset: 2 }}>
            <Progress value={scanPercent}/>
        </Col>
    </Row>
    <Row>
        <Col xs={{ size: 4, offset: 4 }}>
            <Button color="warning" block on:click={startScan} disabled={$scanStatus.status == "running"}>
                Starte neuen Scan
            </Button>
        </Col>
    </Row>
</Container>
