<script lang="ts">
    import {Client} from "../services/graphql/client";
    import {CONSENSUSES} from "../services/graphql/queries";
    import { navigate } from "svelte-routing";
    import {
        Container, Row, Col, Form, Input, FormGroup, Button, Label, Alert, Spinner, ListGroup, ListGroupItem
    } from 'sveltestrap';
    import {ApolloQueryResult} from "apollo-client/core/types";

    export let startDate: String
    export let endDate: String

    let consensuses_query: Promise<ApolloQueryResult<any>>
    function constructQuery(startDate: String, endDate: String) {
        if (startDate != null && endDate != null) {
            return Client.query({query: CONSENSUSES(startDate, endDate)}).then((r) => {
                return r.data.consensuses
            });
        }
        return new Promise((resolve, reject) => {})
    }

    $: consensuses_query = constructQuery(startDate, endDate)
</script>

<Row>
    {#await consensuses_query}
        <Col>
            <Spinner color="info" size="lg"></Spinner>
        </Col>
    {:then consensuses}
        <Col>
            {#if consensuses.consensuses.length == 0 }
                <Alert color="info">
                    <p>Kein Konsens zwischen {startDate} ({typeof(startDate)}) und {endDate}</p>
                </Alert>
            {:else}
                <ListGroup>
                    {#each consensuses.consensuses as consensus}
                        <ListGroupItem  tag="button" on:click={() => {navigate("__http_path/protokoll?id=" + consensus.protocol_id, { replace: false })}}>
                            <p><b>Aus dem Protokoll vom {consensus.date}</b></p>
                            <pre style="white-space: pre-wrap;">{consensus.text}</pre>
                        </ListGroupItem>
                    {/each}
                </ListGroup>
            {/if}
        </Col>
    {:catch error}
        <Col>
            <Alert color="danger">
                <h4>Fehler beim abrufen</h4>
                <p>Konnte Konsense nicht abrufen: {error}</p>
            </Alert>
        </Col>
    {/await}
</Row>
