<script lang="ts">
    import {
        Collapse,
        Container,
        Navbar,
        NavbarToggler,
        NavbarBrand,
        Nav,
        NavItem,
        NavLink,
        UncontrolledDropdown,
        DropdownToggle,
        DropdownMenu,
        DropdownItem
    } from 'sveltestrap';
    import {Link} from "svelte-routing";
    import RoutingNavLink from "./RoutingNavLink.svelte";
    import ScanStatusIcon from "./ScanStatusIcon.svelte";

    let isOpen = false;

    function handleUpdate(event) {
        isOpen = event.detail.isOpen;
    }

    const navLinkClasses = "nav-link";
    const activeNavLinkClasses = "nav-link active"

</script>

<Navbar class="shadow" color="light" light expand="md">
    <Container fluid>
    <NavbarBrand href="/">sveltestrap</NavbarBrand>
    <NavbarToggler on:click={() => (isOpen = !isOpen)} />
    <Collapse {isOpen} navbar expand="md" on:update={handleUpdate}>
        <Nav class="ml-auto justify-content-end nav-menu">
            <NavItem>
                <RoutingNavLink to="__http_path/protokolle">Protokolle</RoutingNavLink>
            </NavItem>
            <NavItem>
                <RoutingNavLink to="__http_path/protokollsuche">Protokolle Suchen</RoutingNavLink>
            </NavItem>
            <NavItem>
                <RoutingNavLink to="__http_path/konsense">Konsense</RoutingNavLink>
            </NavItem>
            <NavItem>
                <RoutingNavLink to="__http_path/entscheidungen">Entscheidungen</RoutingNavLink>
            </NavItem>
            <NavItem>
                <RoutingNavLink to="__http_path/scanstatus">Scan Status</RoutingNavLink>
            </NavItem>
        </Nav>
    </Collapse>
        <ScanStatusIcon>
        </ScanStatusIcon>
    </Container>
</Navbar>
