<script>
    import {
        Row, Col, Card, CardHeader, CardBody, Collapse
    } from 'sveltestrap';
    import ProtocolCard from "./ProtocolCard.svelte";

    export let protocols = []
</script>

{#each protocols as protocol}
    <Row class="m-2">
        <Col>
            <ProtocolCard protocol={protocol}/>
        </Col>
    </Row>
{/each}
