<script lang="ts">
    import {Client} from "../services/graphql/client";
    import {PROTOCOLS} from "../services/graphql/queries";
    import { navigate } from "svelte-routing";
    import {
        Container, Row, Col, Form, Input, FormGroup, Button, Label, Alert, Spinner, ListGroup, ListGroupItem
    } from 'sveltestrap';
    import {ApolloQueryResult} from "apollo-client/core/types";

    export let startDate: Date
    export let endDate: Date

    let protocols_query: Promise<ApolloQueryResult<any>>
    function constructProtocolsQuery(startDate: Date, endDate: Date) {
        if (startDate != null && endDate != null) {
            return Client.query({query: PROTOCOLS(startDate, endDate)}).then((r) => {
                console.log(r.data.protocolQuery.protocols)
                return r.data.protocolQuery.protocols
            });
        }
        return new Promise((resolve, reject) => {})
    }

    $: protocols_query = constructProtocolsQuery(startDate, endDate)
</script>

<Row>
    {#await protocols_query}
    <Col>
        <Spinner color="info" size="lg"></Spinner>
    </Col>
    {:then protocols}
    <Col>
        {#if protocols.length == 0 }
            <Alert color="info">
                <p>Kein Protokolle zwischen {startDate.toDateString()} und {endDate.toDateString()}</p>
            </Alert>
        {:else}
        <ListGroup>
            {#each protocols as protocol}
            <ListGroupItem tag="button" on:click={() => {navigate("__http_path/protokoll?id=" + protocol.id, { replace: false })}}>
                Protokol vom {protocol.date}
                {#if protocol.hasErrors}
                    <Alert color="warning">
                        <p>{protocol.error}</p>
                    </Alert>
                {/if}
            </ListGroupItem>
            {/each}
        </ListGroup>
        {/if}
    </Col>
    {:catch error}
    <Col>
        <Alert color="danger">
            <h4>Fehler beim abrufen der Protokolle</h4>
            <p>Konnte Protokolle nicht abrufen: {error}</p>
        </Alert>
    </Col>
    {/await}
</Row>
