<script>
    import {
        Button, Card,CardHeader,CardBody,Col,Row, Spinner
    } from 'sveltestrap';
    import { fade } from 'svelte/transition';

    export let protocol = {};

    let showChapterTitles = false;
    let chapterTitlesLoading = false;

    let chapters = []
</script>

<Card>
    <CardHeader>
        Protokoll vom {protocol.date}
        <Button on:click={() => showChapterTitles=!showChapterTitles}>
            {#if showChapterTitles}
                Verbergen
                {:else}
                Zeigen
                {/if}
        </Button>
    </CardHeader>
    <CardBody>
        <Row class="justify-content-center">
        <Col  xs="auto">
            {#if showChapterTitles}
                {#if chapterTitlesLoading}
                    <div transition:fade >
                    <Spinner color="info"/>
                    </div>
                {:else}
                    <div transition:fade>
                    Chapter titles
                    </div>
                {/if}
            {/if}
        </Col>
        </Row>
    </CardBody>
</Card>
