<script>
    import { scanStatus } from "../store/scan_status";
    import { Spinner } from "sveltestrap";

    export let huge = false
    let size_class = huge ? "status-icon-huge" : "status-icon";
    let spinner_size = huge ? "xl" : "xl";
</script>

{#if $scanStatus.status === 'running' }
    <Spinner color="info" class="{size_class}"></Spinner>
{:else}
    {#if $scanStatus.status === 'done' }
        {#if $scanStatus.numProtocolsFailed == 0}
            <i class="bi-check-circle text-success {size_class}"></i>
        {:else}
            <i class="bi-exclamation-cirle text-warning {size_class}"></i>
        {/if}
    {:else}
        {#if $scanStatus.status === 'error' }
            <i class="bi-x-circle text-danger {size_class}"/>
        {:else}
            <i class="bi-question-circle text-info {size_class}"/>
        {/if}
    {/if}
{/if}

<style lang="scss">
    .status-icon {
      font-size: 1.5rem;
    }
    .status-icon-huge {
      font-size: 15rem;
    }
</style>
