<script>
    import {
        InputGroup, Form, Row, Col, Input, Button, ButtonGroup, FormGroup
    } from 'sveltestrap';
    import Datepicker from 'svelte-calendar';
    import TimeRange from "./TimeRange.svelte";

    let startDateChosen = false;
    let endDateChosen = false;
    let formattedStartDate = "";
    let formattedEndDate = "";
    let searchTerm = "";
</script>

<Row class="mb-4 mt-4">
    <Col>
        <Form>
            <FormGroup>
            <Input bind:value={searchTerm} type="search"/>
            </FormGroup>
        </Form>
    </Col>
</Row>
<Row class="justify-content-center mb-4">
<TimeRange/>
</Row>
<Row class="justify-content-center">
    <Col xs="8">
        <Button color="primary" block size="lg">
            {#if searchTerm===""}
                Alle anzeigen
            {:else}
                Suchen
            {/if}
        </Button>
    </Col>
</Row>

<style lang="scss">
    :global(.datepicker) {
      width: 90%;
    }
</style>
