<script lang="ts">
    import {
        Form, InputGroup, Input
    } from 'sveltestrap';
</script>

<Form>
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <InputGroup>
            <Input class="no-shadow border-0 bg-light" type="search" placeholder="Search"/>
            <span class="input-group-text"><i class="bi-heart" style="font-size: 1rem; color: orange;"></i></span>
        </InputGroup>
    </div>
</Form>

<style>
    :global(.no-shadow:focus) {
        box-shadow: none !important;
    }

    :global(.no-shadow::placeholder) {
        font-size: 0.95rem;
        color: #aaa;
        font-style: italic;
    }
</style>
