<script>
    import {
       ButtonGroup, Col, Button, InputGroup, Input
    } from 'sveltestrap';

    export let startDate = "";
    export let endDate = "";
</script>

<Col xs="4">
    <InputGroup>
        <Input
                type="date"
                name="date"
                id="startTime"
                bind:value={startDate}
                placeholder="Mindestdatum" />
        <Button outline
                color="danger"
                on:click={() => {startDate=""}}
                disabled={startDate === ""}>
            <i class="bi-x"></i>
        </Button>
    </InputGroup>
</Col>
<Col xs="4">
    <InputGroup>
        <Input
                type="date"
                name="date"
                id="startTime"
                bind:value={endDate}
                placeholder="Enddatum" />
        <Button outline
                color="danger"
                on:click={() => {endDate=""}}
                disabled={endDate === ""}>
                <i class="bi-x"></i>
    </Button>
    </InputGroup>
</Col>
