<script lang="ts">
	import {Router, Route, Link} from "svelte-routing";
	import Protocols from "./pages/Protocols.svelte";
	import Navigationbar from "./components/Navigationbar.svelte";
	import Home from "./pages/Home.svelte";
	import Decisions from "./pages/Decisions.svelte";
	import Consensuses from "./pages/Consensuses.svelte";
	import ScanStatus from "./pages/ScanStatus.svelte";
	import ProtocolSearch from "./pages/ProtocolSearch.svelte";
	import Protocol from "./pages/Protocol.svelte";

	export let url = "";
	console.log(url)
</script>

<Router url="{url}">
	<Navigationbar/>
	<div>
		<Route path="__http_path/"><Home/></Route>
		<Route path="__http_path/protokolle"><Protocols/></Route>
		<Route path="__http_path/protokoll"><Protocol/></Route>
		<Route path="__http_path/protokollsuche"><ProtocolSearch/></Route>
		<Route path="__http_path/entscheidungen"><Decisions/></Route>
		<Route path="__http_path/konsense"><Consensuses/></Route>
		<Route path="__http_path/scanstatus"><ScanStatus/></Route>
	</div>
</Router>

<style type="text/scss">
	@import 'scss/variables.scss';
</style>
